{
    "branches": [
        "main"
    ],
    "debug": true,
    "ci": true,
    "dryRun": false,
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/npm",
            {
                "npmPublish": true,
                "tarballDir": "dist"
            }
        ],
        "@semantic-release/github",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "package-lock.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]"
            }
        ],
        "@progress/semantic-prerelease/analyzeCommits",
        "@progress/semantic-prerelease/generateNotes",
        "@progress/semantic-prerelease/getLastRelease",
        "@progress/semantic-prerelease/verifyConditions",
        "@progress/semantic-prerelease/verifyRelease"
    ]
}
