@tailwind base;
@tailwind components;
@tailwind utilities;

.headline-900 {
    @apply font-display text-3xl font-bold;
}

.headline-800 {
    @apply font-display text-2xl font-medium;
}

.headline-700 {
    @apply font-display text-xl font-medium;
}

.headline-600 {
    @apply font-display text-lg font-medium;
}

.headline-500 {
    @apply font-display text-base font-medium;
}

.headline-400 {
    @apply font-sans text-sm font-medium;
}

.headline-300 {
    @apply font-sans text-xs font-medium;
}

.headline-200 {
    @apply font-sans text-xs font-semibold;
}

.headline-100 {
    @apply font-sans text-xs font-medium;
}

.paragraph-300 {
    @apply font-sans text-base font-normal;
}

.paragraph-200 {
    @apply font-sans text-sm font-normal;
}

.paragraph-100 {
    @apply font-sans text-xs font-normal;
}

.inline-link {
    @apply text-primary-500 underline hover:text-primary-700;
}

/* Tailwind checkbox needs it to change styles of the check */
[type="checkbox"]:disabled:checked {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="rgb(156,155,185)" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
}

@layer base {
    /* Primitive - Present */
    :root {
        --slate-0: rgba(255, 255, 255, 1);
        --green-50: rgba(239, 250, 245, 1);
        --green-100: rgba(215, 244, 228, 1);
        --green-200: rgba(179, 231, 206, 1);
        --green-300: rgba(128, 213, 177, 1);
        --green-400: rgba(82, 189, 148, 1);
        --green-500: rgba(42, 159, 118, 1);
        --green-600: rgba(27, 128, 95, 1);
        --green-700: rgba(22, 102, 78, 1);
        --green-800: rgba(20, 81, 63, 1);
        --green-900: rgba(17, 67, 53, 1);
        --blue-50: rgba(239, 244, 255, 1);
        --blue-100: rgba(220, 231, 253, 1);
        --blue-200: rgba(193, 213, 252, 1);
        --blue-300: rgba(150, 187, 250, 1);
        --blue-400: rgba(100, 151, 246, 1);
        --blue-500: rgba(64, 114, 241, 1);
        --blue-600: rgba(50, 89, 231, 1);
        --blue-700: rgba(34, 63, 211, 1);
        --blue-800: rgba(34, 53, 171, 1);
        --blue-900: rgba(33, 49, 135, 1);
        --red-50: rgba(253, 243, 243, 1);
        --red-100: rgba(252, 228, 228, 1);
        --red-200: rgba(250, 206, 206, 1);
        --red-300: rgba(245, 172, 172, 1);
        --red-400: rgba(237, 124, 124, 1);
        --red-500: rgba(225, 82, 82, 1);
        --red-600: rgba(209, 67, 67, 1);
        --red-700: rgba(172, 41, 41, 1);
        --red-800: rgba(143, 37, 37, 1);
        --red-900: rgba(119, 37, 37, 1);
        --orange-50: rgba(255, 249, 235, 1);
        --brand-light-purple-1-50: rgba(244, 242, 255, 1);
        --brand-light-purple-1-100: rgba(234, 232, 255, 1);
        --brand-light-purple-1-200: rgba(216, 212, 255, 1);
        --brand-light-purple-1-300: rgba(188, 177, 255, 1);
        --brand-light-purple-1-400: rgba(155, 133, 255, 1);
        --brand-light-purple-1-500: rgba(137, 102, 255, 1);
        --brand-light-purple-1-600: rgba(106, 48, 247, 1);
        --brand-light-purple-1-700: rgba(92, 30, 227, 1);
        --brand-light-purple-1-800: rgba(76, 24, 191, 1);
        --brand-light-purple-1-900: rgba(64, 22, 156, 1);
        --brand-light-purple-1-950: rgba(38, 11, 106, 1);
        --brand-dark-purple-2-50: rgba(241, 243, 252, 1);
        --brand-dark-purple-2-100: rgba(230, 232, 249, 1);
        --brand-dark-purple-2-200: rgba(210, 213, 243, 1);
        --brand-dark-purple-2-300: rgba(183, 186, 234, 1);
        --brand-dark-purple-2-400: rgba(155, 153, 224, 1);
        --brand-dark-purple-2-500: rgba(137, 128, 212, 1);
        --brand-dark-purple-2-600: rgba(120, 103, 196, 1);
        --brand-dark-purple-2-700: rgba(103, 86, 172, 1);
        --brand-dark-purple-2-800: rgba(84, 72, 139, 1);
        --brand-dark-purple-2-900: rgba(45, 40, 71, 1);
        --brand-dark-purple-2-950: rgba(27, 26, 51, 1);
        --brand-dark-purple-2-975: rgba(16, 14, 34, 1);
        --orange-100: rgba(255, 240, 198, 1);
        --orange-200: rgba(255, 222, 136, 1);
        --orange-300: rgba(255, 199, 74, 1);
        --orange-400: rgba(255, 176, 32, 1);
        --orange-500: rgba(249, 141, 7, 1);
        --orange-600: rgba(221, 103, 2, 1);
        --orange-700: rgba(183, 70, 6, 1);
        --orange-800: rgba(148, 53, 12, 1);
        --orange-900: rgba(122, 44, 13, 1);
        --slate-50: rgba(248, 250, 252, 1);
        --slate-100: rgba(241, 245, 249, 1);
        --slate-200: rgba(226, 232, 240, 1);
        --slate-300: rgba(203, 213, 225, 1);
        --slate-400: rgba(148, 163, 184, 1);
        --slate-500: rgba(100, 116, 139, 1);
        --slate-600: rgba(71, 85, 105, 1);
        --slate-700: rgba(51, 65, 85, 1);
        --slate-800: rgba(30, 41, 59, 1);
        --slate-900: rgba(15, 23, 42, 1);
        --slate-950: rgba(2, 6, 23, 1);
        --slate-1000: rgba(0, 0, 0, 1);
    }

    html[data-theme="light"] {
        /* Color - Light */
        --bg-page: var(--slate-50);
        --bg-primary-default: var(--slate-0);
        --bg-secondary-default: var(--slate-50);
        --bg-terciary-default: var(--slate-100);
        --bg-brand-sublte: var(--brand-light-purple-1-50);
        --bg-brand-default: var(--brand-light-purple-1-500);
        --bg-brand-hover: var(--brand-light-purple-1-600);
        --bg-brand-pressed: var(--brand-light-purple-1-700);
        --bg-brand-disabled: var(--brand-light-purple-1-200);
        --bg-primary-hover: var(--slate-50);
        --bg-primary-pressed: var(--slate-100);
        --bg-primary-selected: var(--brand-light-purple-1-100);
        --bg-secondary-hover: var(--slate-100);
        --bg-disabled: var(--slate-200);
        --bg-secondary-pressed: var(--slate-200);
        --bg-secondary-selected: var(--brand-light-purple-1-200);
        --bg-success-subtle: var(--green-50);
        --bg-info-subtle: var(--blue-50);
        --bg-warning-subtle: var(--orange-50);
        --bg-danger-subtle: var(--red-50);
        --text-primary: var(--slate-600);
        --text-terciary: var(--slate-800);
        --text-brand-default: var(--brand-light-purple-1-500);
        --text-secondary-default: var(--slate-500);
        --text-secondary-hover: var(--slate-600);
        --text-secondary-pressed: var(--slate-700);
        --text-inverse: var(--slate-50);
        --text-inverse-disabled: var(--slate-0);
        --text-success: var(--green-600);
        --text-info: var(--blue-600);
        --text-warning: var(--orange-600);
        --text-danger: var(--red-500);
        --text-on-danger: var(--red-500);
        --text-disabled: var(--slate-300);
        --text-link: var(--brand-light-purple-1-500);
        --text-link-hover: var(--brand-light-purple-1-600);
        --icon-inverse: var(--slate-0);
        --icon-inverse-disabled: var(--slate-0);
        --icon-brand: var(--brand-dark-purple-2-500);
        --icon-success: var(--green-500);
        --icon-info: var(--blue-500);
        --icon-warning: var(--orange-500);
        --icon-disabled: var(--slate-300);
        --icon-primary-default: var(--slate-500);
        --icon-primary-hover: var(--slate-600);
        --icon-primary-pressed: var(--slate-700);
        --icon-primary-disabled: var(--slate-200);
        --icon-danger-default: var(--red-500);
        --icon-danger-hover: var(--red-500);
        --border-primary: var(--slate-300);
        --text-placeholder: var(--slate-400);
        --components-sidebar-primary-default: var(--brand-dark-purple-2-900);
        --components-sidebar-primary-hover: var(--brand-dark-purple-2-800);
        --components-sidebar-primary-pressed: var(--brand-dark-purple-2-950);
        --components-sidebar-primary-selected: var(--brand-dark-purple-2-800);
        --border-secondary-default: var(--slate-400);
        --border-secondary-hover: var(--slate-500);
        --border-secondary-pressed: var(--slate-600);
        --border-secondary-selected: var(--brand-light-purple-1-400);
        --border-brand-default: var(--brand-light-purple-1-700);
        --border-success-default: var(--green-600);
        --border-info-default: var(--blue-600);
        --border-warning-default: var(--orange-600);
        --border-danger-default: var(--red-600);
        --border-disabled: var(--slate-300);
        --bg-danger-default: var(--red-500);
        --bg-danger-hover: var(--red-600);
        --bg-danger-pressed: var(--red-700);
        --bg-danger-disabled: var(--red-200);
    }

    html[data-theme="dark"] {
        --bg-page: var(--slate-900);
        --bg-primary-default: var(--slate-800);
        --bg-secondary-default: var(--slate-950);
        --bg-terciary-default: var(--slate-1000);
        --bg-brand-sublte: var(--brand-light-purple-1-500);
        --bg-brand-default: var(--brand-light-purple-1-500);
        --bg-brand-hover: var(--brand-light-purple-1-400);
        --bg-brand-pressed: var(--brand-light-purple-1-300);
        --bg-brand-disabled: var(--slate-800);
        --bg-primary-hover: var(--slate-900);
        --bg-primary-pressed: var(--slate-900);
        --bg-primary-selected: var(--slate-900);
        --bg-secondary-hover: var(--slate-900);
        --bg-disabled: rgba(255, 255, 255, 1);
        --bg-secondary-pressed: var(--slate-900);
        --bg-secondary-selected: var(--slate-900);
        --bg-success-subtle: var(--green-800);
        --bg-info-subtle: var(--blue-800);
        --bg-warning-subtle: var(--orange-800);
        --bg-danger-subtle: var(--red-900);
        --text-primary: var(--slate-300);
        --text-terciary: var(--slate-200);
        --text-brand-default: var(--brand-light-purple-1-500);
        --text-secondary-default: var(--slate-300);
        --text-secondary-hover: var(--slate-400);
        --text-secondary-pressed: var(--slate-400);
        --text-inverse: var(--slate-100);
        --text-inverse-disabled: var(--slate-700);
        --text-success: var(--green-200);
        --text-info: var(--blue-200);
        --text-warning: var(--orange-200);
        --text-danger: var(--red-500);
        --text-on-danger: var(--red-200);
        --text-disabled: var(--slate-700);
        --text-link: var(--brand-light-purple-1-400);
        --text-link-hover: var(--brand-light-purple-1-400);
        --icon-inverse: var(--slate-50);
        --icon-inverse-disabled: var(--slate-700);
        --icon-brand: var(--brand-dark-purple-2-500);
        --icon-success: var(--green-200);
        --icon-info: var(--blue-200);
        --icon-warning: var(--orange-200);
        --icon-disabled: var(--slate-700);
        --icon-primary-default: var(--slate-300);
        --icon-primary-hover: var(--slate-300);
        --icon-primary-pressed: var(--slate-300);
        --icon-primary-disabled: var(--slate-300);
        --icon-danger-default: var(--red-200);
        --icon-danger-hover: var(--green-200);
        --border-primary: var(--slate-700);
        --text-placeholder: var(--slate-600);
        --components-sidebar-primary-default: var(--slate-950);
        --components-sidebar-primary-hover: var(--slate-700);
        --components-sidebar-primary-pressed: var(--brand-dark-purple-2-900);
        --components-sidebar-primary-selected: var(--brand-dark-purple-2-800);
        --border-secondary-default: var(--slate-500);
        --border-secondary-hover: var(--slate-400);
        --border-secondary-pressed: var(--slate-700);
        --border-secondary-selected: var(--slate-700);
        --border-brand-default: var(--brand-dark-purple-2-800);
        --border-success-default: var(--green-200);
        --border-info-default: var(--blue-200);
        --border-warning-default: var(--green-200);
        --border-danger-default: var(--red-200);
        --border-disabled: var(--slate-800);
        --bg-danger-default: var(--red-600);
        --bg-danger-hover: var(--red-500);
        --bg-danger-pressed: var(--red-400);
        --bg-danger-disabled: var(--slate-800);
    }
}
